/* External Fonts  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Zen+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap');

/* ----- RESET -----  */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2 {
  font-family: 'JetBrains Mono', monospace;
}

/* Remove list styles on ul, ol elements  */
ul,
ol {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----- END RESET -----  */

/* ---- CUSTOM PROPERTIES ----  */

:root {
  --clr-main: #435;
  --clr-complementary: #e3ced7;
  --clr-light: #f1f3f6;
  --clr-accent: #1662a6;
  --clr-accent-light: #50a5f2;
  --text-color: #faebd7;
  --slot-size: 120px;
  --mini-slot-size: 50px;
  --base-radius: 0.5rem;
  --bd-lg: 1rem;
  --mb-lg: 2rem;
  --mb-md: 1.2rem;
  --mb-sm: 0.6rem;
}

/* ----- STYLES -----  */

/* Utilities  */
.centered {
  text-align: center;
}

/* Global */

html {
  background-color: var(--clr-accent);
}

body {
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}

.main-button {
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--clr-accent-light);
  color: var(--text-color);
  border: 1px solid var(--clr-accent-light);
  border-radius: 3px;
  flex: 1;
  padding: 0.3rem;
  transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
}

.main-button:hover {
  background-color: var(--clr-accent-light);
  border: 1px solid var(--clr-light);
  color: var(--clr-main);
}

.main-button:active {
  color: var(--clr-light);
}

/* Navbar  */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: var(--clr-main);
  color: var(--text-color);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.33);
}

.brand {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.4rem;
  font-weight: 600;
}

#logo {
  display: inline-block;
  width: 24px;
  height: 24px;
  filter: invert(0.72);
  margin-right: 0.3rem;
  margin-bottom: -3px;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-light);
}

/* End Navbar  */

/* Main Page  */

main {
  margin-top: 50px;
  padding: 2rem;
}

h1,
h2 {
  color: var(--text-color);
}

h2 {
  font-size: 1.25rem;
  margin-bottom: var(--mb-sm);
}

/* End Main Page   */

/* Main Color Box  */

.main-color-box {
  width: 100%;
  height: 100%;
  margin-bottom: var(--mb-lg);
  padding: 0.75rem 1.5rem;
  color: var(--text-color);
  background-color: var(--clr-main);
  border-radius: var(--base-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.input-wrapper {
  flex: 0 1 1fr;
  display: flex;
  background: white;
  border-radius: 2px;
  padding-right: 3px;
  align-items: center;
}

.input-wrapper input {
  display: inline-block;
  padding-inline: 6px;
  flex: 0 1 1fr;
  outline: none;
  background: transparent;
  border: 0;
}

.input-wrapper input:invalid + button {
  opacity: 0.25;
  pointer-events: none;
}

.input-wrapper input:valid + button {
  cursor: pointer;
}

.input-wrapper button {
  padding: 3px;
  border: 0;
  background: transparent;
  color: var(--clr-accent-light);
}

.input-wrapper button:hover {
  color: var(--clr-accent);
}

/* End Main Color Box   */

/* Pallette Pane  */

.pallete-pane {
  display: flex;
  justify-content: center;
  gap: 1.75rem;
  border: var(--bd-lg) solid var(--clr-main);
  border-radius: var(--base-radius);
  padding: 1rem;
  background-color: var(--clr-light);
  margin-bottom: var(--mb-lg);
}

/* color slots  */

.slot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* slot labels  */

.label {
  color: var(--clr-accent);
  font-size: 1rem;
  padding: 4px;
  max-width: 100%;
  margin-bottom: 0.5rem;
}

.label input {
  font-family: 'JetBrains Mono', monospace;
  text-align: center;
  border: 0;
  width: 80%;
  border-radius: 3px;
  cursor: pointer;
}

.label:hover input {
  background: var(--clr-complementary);
}

.label.icon {
  color: var(--clr-accent);
}

/* individual slot  */

.color-slot {
  width: var(--slot-size);
  height: var(--slot-size);
  border: 1px solid var(--clr-accent);
  border-radius: var(--base-radius);
  background-color: var(--clr-complementary);
  box-shadow: 0 2px 3px 0 var(--clr-accent);
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  line-height: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.8px;
  margin-bottom: var(--mb-md);
}

/* slot controls  */

.color-controls {
  border: 2px solid var(--clr-complementary);
  border-radius: var(--base-radius);
  padding: 0.3rem 1rem;
  box-shadow: 0 2px 2px 0 var(--clr-main);
}

.color-controls fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

.control-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control-field label {
  color: var(--clr-accent);
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.8px;
  margin-bottom: 0.4rem;
}

.color-controls input {
  max-width: 75%;
}

.mini-slots {
  border: var(--bd-lg) solid var(--clr-main);
  background-color: var(--clr-light);
  padding: 1rem 2rem;
  border-radius: var(--base-radius);
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--mini-slot-size));
  gap: 1.5rem;
}

.mini-slot {
  width: var(--mini-slot-size);
  height: var(--mini-slot-size);
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.copied {
  outline: #50a5f2 solid 5px;
}

.utility-buttons {
  margin-top: 2rem;
}

.utility-buttons button {
  font-size: 1.1rem;
  margin-right: 1px;
}

/* Modal */
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  display: table;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: max-content;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: var(--clr-accent);
  color: var(--text-color);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header {
  border-bottom: 1px solid var(--clr-main);
}

.modal-header h3 {
  margin-top: 0;
  color: var(--clr-complementary);
}

.modal-body {
  margin: 20px auto;
  text-align: center;
}

.modal-buttons .generate-color,
.modal-footer .generate-color {
  text-align: center;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  margin-right: 1px;
}

.pre {
  border: 1px solid var(--clr-main);
  text-align: left;
  padding: 1rem;
  background-color: var(--clr-main);
  margin-top: 1.5rem;
  -webkit-user-select: all; /* for Safari */
  user-select: all;
  cursor: pointer;
}

.pre p {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.8rem;
  line-height: 1.4rem;
}

.msg {
  font-size: 1.1rem;
  color: var(--clr-light);
  margin-left: 1rem;
}

.msg > * {
  font-size: 1.3rem;
  margin-right: 0.4rem;
  color: var(--clr-light);
}

.pre-info {
  text-align: center;
  color: var(--clr-light);
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.invalid {
  outline: var(--clr-main) solid 3px;
}

#cancel-btn {
  background-color: var(--clr-accent);
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.5s ease, transform 0.3s ease-out;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.saved-pallete-pane {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  color: var(--text-color);
  border: 1px solid var(--clr-main);
  border-radius: 6px;
  padding: 1rem;
  gap: 1rem;
}

.saved-pallete {
  border: 1px solid var(--clr-main);
  padding: 0.5rem;
}

.saved-pallete:hover {
  cursor: pointer;
  border-color: var(--clr-light);
  box-shadow: 1px 1px 0 1px var(--clr-main), -1px -1px 0 1px var(--clr-main);
}

.saved-pallete-colors {
  display: flex;
  justify-content: space-between;
}

.saved-pallete-color {
  width: 50px;
  height: 50px;
}
